<html>
<head></head>

<body>
<div >This is the post template.The current slug is {{slug}}</div>
<script>window.__POST__={{{post}}}</script>
<script src="/dist/app/index.js"></script> 
</body>



</html>